.welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3066be;
  border-radius: 24px;
  padding: 150px 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.welcome-banner h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.welcome-banner h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
